@import './base.css';

#app {
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
}

a,
.green {
    text-decoration: none;
    color: var(--secondary-color);
    transition: 0.4s;
}

overline {
    color: var(--secondary-color)
}

@media (hover: hover) {
    a:hover {
        background-color: var(--secondary-color);
    }
}

@media (min-width: 1024px) {
    body {
        display: flex;
        place-items: center;
    }

    #app {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 2rem;
    }
}